@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #F8F8F8
}

#btn_login {
    background-color: #414D33;
}

.lbl_login {
    color: #C1C1C1
}

#link_register {
    color: #343341
}

